{
    email {$ACME_EMAIL}
}

actionlog.ru, www.actionlog.ru {
    encode gzip

    @api path /api/*
    handle @api {
        reverse_proxy backend:3001
    }

    handle {
        reverse_proxy frontend:80
    }
}
